/*common*/
::-webkit-input-placeholder{
    color: #ffe400;
}
.f-hide{ display: none;}
.overlay{ position: fixed; z-index: 99; height: 100%; width: 100%; top: 0; background:rgba(0,0,0,.3); display: none;}
.pop-box{ display: none; position: absolute; z-index: 100; left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%); }
.pop-box .pop-close{ position: absolute; top:-20px; right: -20px;}
.fall{
  width: 100%;
  position: absolute; z-index: 12; top: 0; opacity: 0.8;
}
/*swiper*/
.container,.swiper-container{ height: 100%; padding:0; }
.swiper-slide{ position:relative; overflow: hidden;}
.logo{ position: absolute; top: 30px; left: 30px; z-index: 2;}
.arrowbox{ position: absolute; left: 50%;  bottom: 30px; margin-left:-108px; width: 215px;}
.arrowbox img{ margin:10px auto; }

/*page1*/
.bg1{ background: url('../img/page1-bg.jpg') #F86260; background-size:cover; background-position: center;}
.page1-title{ margin: auto; padding-top: 13%;}
.page1-rule{ margin:-15px auto 0; display: block; width: 161px; -webkit-transform:translateX(75px); }
.bg1 .arrowbox{
  bottom: 75px;
}

/*page2,3*/
.bg2,.bg3{ background: url('../img/page2-bg.jpg'); background-size:cover; background-position: center;}
.imglist{ margin:65px auto 0;}
.imglist img{ margin: auto;}

/*page4*/
.bg4{ background: url('../img/page4-bg.jpg'); background-size:cover; background-position: center;}
.imglist2{ margin:150px auto 0;}
.imglist2 img{ margin: auto;}
.imglist2 .img1{ margin-bottom: -20px; position: relative; z-index: 2;}
.imglist2 .img3{ margin-top: -30px; }


/*resultA*/
.resultA-bg{ background: url('../img/resultA-bg.jpg'); background-size:cover; background-position: center;}
.resultA-bg .a-link{ position: absolute; top: 620px; right: 30px;}
.resultA-bg .btn-list{ position: absolute; left: 50%; -webkit-transform: translate(-50%,0); bottom: 60px;}
.resultA-bg .btn-list .btn{ margin: 20px auto 0;}
.a-result-box{ position: absolute; z-index: 2; right: 30px; top: 0;}
.a-result-boxImg{ position: absolute; z-index: 2; right: 35px; top: 0;}
.resultA-bg .a-result-pop-box{
  width: 480px;
  height: 581px;
  background: url(../img/resultA-pop-bg.jpg) no-repeat;
  background-size: cover;
}
.resultA-bg .a-result-pop-box .title{
  font-size: 30px;
  color: rgb(217, 50, 94);
  line-height: 1.2;
  text-align: center;
  margin-top: 35px;
}

.resultA-bg .a-result-pop-box .btn1{ margin:35px auto;}
.resultA-bg .a-result-pop-box .btn2{ margin:10px auto;}


.resultA-bg .a-result-pop-box .dec{
  width: 100%;
  font-size: 30px;
  color: rgb(0, 52, 115);
  line-height: 0.833;
  text-align: center;
  position: absolute;
  left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%);
}

.resultA-bg .a-result-pop-box .footer{
  width: 100%;
  position: absolute;
  left: 50%; -webkit-transform: translate(-50%,0);  bottom: 20px; 
  font-size: 24px;
  color: rgb(221, 46, 89);
  line-height: 1.5;
  text-align: center;
}

/*rule pop*/
.rule-pop{
   width: 580px; height: 921px; 
   background: url(../img/rule-bg.png) no-repeat; background-size: contain;
}

/*shake.html*/
.shake-bg{ background: url('../img/shake-bg.jpg'); background-size:cover; background-position: center;}
.shake-bg .shake-header{
  width: 513px; margin: auto; padding-top: 85px; text-align: right;
}
.shake-bg .rule{
  display: inline;
}
.shake-bg .shake-img{ margin:10px auto 0; }

/*动画*/
.swiper-slide-active .arrowbox{
    -webkit-animation: bounce 2s infinite both;
}

.swiper-slide-active .imglist img:nth-of-type(1){
  -webkit-animation: fadeInLeft 1s both;
}

.swiper-slide-active .imglist img:nth-of-type(2){
  -webkit-animation: fadeInRight 1s 1s both;
}

.swiper-slide-active .imglist img:nth-of-type(3){
  -webkit-animation: fadeInLeft 1s 2s both;
}


/*loading*/
.page-loading{position:absolute;top:0;right:0;bottom:0;left:0;z-index:999;background:#fff}
.page-loading .border{position:relative;margin:60% auto auto auto;width:50px;height:50px;border-radius:50%;list-style:none;font-size:100px}
.page-loading .border li{position:absolute;width:.3em;height:.3em;border-radius:50%}
.page-loading .border li:nth-child(1){top:0;left:50%;margin:0 0 0 -.1em;background:#feb963;-webkit-transform-origin:50% 250%;-webkit-animation:rota 1.13s linear infinite,opa 3.67s ease-in-out infinite alternate}
.page-loading .border li:nth-child(2){top:50%;right:0;margin:-.1em 0 0 0;background:#f86260;-webkit-transform-origin:-150% 50%;-webkit-animation:rota 1.86s linear infinite,opa 4.29s ease-in-out infinite alternate}
.page-loading .border li:nth-child(3){bottom:0;left:50%;margin:0 0 0 -.1em;background:#49b2e1;-webkit-transform-origin:50% -150%;-webkit-animation:rota 1.45s linear infinite,opa 5.12s ease-in-out infinite alternate}
.page-loading .border li:nth-child(4){top:50%;left:0;margin:-.1em 0 0 0;background:#feb95d;-webkit-transform-origin:250% 50%;-webkit-animation:rota 1.72s linear infinite,opa 5.25s ease-in-out infinite alternate}
@-webkit-keyframes rota{to{-webkit-transform:rotate(360deg)}
}
@keyframes rota{to{transform:rotate(360deg)}
}
